@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* heder section css start */

.header_top{
  padding-top:25px;
  padding-left: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_top .phon_num, .header_top .email_address {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  color: #90C404;
}
.header_top .email_address{
  margin-right: 10px;
  color: #90C404;
}
.email_address svg path, 
.email_address svg rect,
.phon_num svg path, 
.phon_num svg rect {
stroke: #90C404; /* Changes the stroke color to white */
}
nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_bottom{
  height: 140px;
  background-color: #90C404;
}
.website_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21%;
}
#website_logo{
  width: 100%; 
  height: auto;
  flex-shrink: 0;
}
.nav_links{
  margin-right: 60px;
}
.nav_links a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.3em;
  color: #fff;
}
.nav_links a:hover{
  color: #439084;
}
.nav_links .active{
  color:#439084;
}

#login_link{
  border: 3px solid #439084;
  border-radius: 25px;
  padding: 4px 10px 4px 10px;
}


/* menuuuuuu for devices small screen size*/

.nav_links_for_phone{
  background-color: #90C404;
  margin-bottom: 5px;
}
.nav_links_for_phone .links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.nav_links_for_phone a{
  text-decoration: none;
  margin-bottom: 4px;
  color: #fff;
}
.nav_links_for_phone .active{
  color: #439084;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin-left: 40px;
  display: none;
}
.line {
  fill: none;
  stroke: #439084;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* heder section css end */



body, html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


.header-up {
    background-color: #BCA0BC;
    height: 35px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -50px;
}



.logo {
    height: 140px;
    width: 190px;
    margin-left: 0px;
    margin-top: -8px;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
}

.nav-item .nav-link {
    padding: 10px;
    margin-top: -7px;
    color: #ffff;
    text-decoration: none;
}

.nav-item.active .nav-link {
    color: #BCA0BC;
}

.menu-bar :hover {
    color: #BCA0BC;
}



.H1Word {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 180px;
    color: #008CCB;
}

.inputr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    color: #000000;
}

:-ms-input-placeholder {
  color: #8d8c8c;
}

::placeholder {
  color: #8d8c8c;
  font-size: 15px;
  font-weight: bold;

}


.box1 {
    width: 500px;
    height: 50px;
    border-radius: 30px 60px;
    border-style: hidden;
    margin: 15px;
    background-color: #E5E5EA;
    color: #000000;
    display: flex;
    justify-content: center;
    padding-left: 5%;
    font-size: 17px;
    font-weight: bold;
}





form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 25px;
    margin-bottom: 25px;
}



input {
    margin-bottom: 25px;
    outline: none;
}

.namee{
  display: flex;
  margin-left: 20px;
  font-weight:420;
}



.message-box {
    width: 500px;
    height: 120px;
    border-radius: 30px 60px;
    border-style: none;
    margin: 15px;
    background-color: #E5E5EA;
    color: #000000;
    display: flex;
    justify-content: center;
    padding-left: 5%;
    font-weight: bold;
    font-size: 17px;
}


.send{
    width: 80px;
    height: 40px;
    border-radius: 16px;
    border-color: #537D90;
    border-style:hidden;
    background-color: #E5E5EA;
    color: #008CCB;
    font-weight: bold;
}


.send:hover{
    background-color: #008CCB;
    color: #E5E5EA;
    width: 65px;
    height: 35px;
}


/* the footer css*/

body{
  line-height: 1.5;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #90C404;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h2{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h2::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #fff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #2b6e03;
  font-weight: bold;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}



/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
  .container{
    display: flex;
    text-align: center;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




@media(max-width: 767px){
  .H1Word{
    font-size: 100%;
  }

  .inputtts{
    text-align:center;
  }

  .namee{
    font-size: 20px;
  }

  .box1{
    width: 350px;
  }

  .message-box{
    width: 350px;
  }

  .send{
    display: flex;
    justify-content: center;
  }

  .footer-col h2:before{
    margin-left: 41.5%;
  }

}

@media(max-width: 574px){
  
  .footer-col h2:before{
    margin-left: 45%;
  }
}


/* the end footer css*/