
body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
}
/* heder section css start */


.header_top{
    padding-top:25px;
    padding-left: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_top .phon_num, .header_top .email_address {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: #90C404;
}
.header_top .email_address{
    margin-right: 10px;
    color: #90C404;
}
.email_address svg path, 
.email_address svg rect,
.phon_num svg path, 
.phon_num svg rect {
  stroke: #90C404; /* Changes the stroke color to white */
}
nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_bottom{
    height: 140px;
    background-color: #90C404;
}
#website_logo{
    height: 250px;
    width: 250px;
}
.nav_links{
    margin-right: 60px;
}
.nav_links a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.3em;
    color: #fff;
}
.nav_links a:hover{
    color: #439084;
}
.nav_links .active{
    color:#439084;
}

/* heder section css end */


/* services section css start */
.services_section{
    margin-top: -24px;
}
.services_section .first_part {
    background-color: #90C404;
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
.services_section .first_part .text_box{
    width: 500px;
    color: #fff;
    align-self: center;
    margin-bottom: 20px;
}
.services_section .first_part .text_box h1{
    color: #fff;
    font-size: 2.5em;
}
.services_section .first_part .text_box p{
    color: #606060;
}
.first_part_pic img{
    border-radius: 25px;
}


/* service list css */

.second_part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.services_list{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
}

.services_list .service_item{
    border: 2px solid #90C404;
    width: 400px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.services_list .service_item h2{
    color: #90C404;
}
.services_list .service_item p{
    color: #606060;
}

.services_list .service_item:hover{
    transform: scale(1.05);
    border: 2px solid #439084;
}
.service_item:hover h2{
    color: #439084;
}
.service_item:hover img{
    filter: invert(54%) sepia(32%) saturate(579%) hue-rotate(121deg) brightness(87%) contrast(88%);
}
.services_list .service_item img{
    margin-top: 20px;
    color: #fff;
}
.services_list .service_item p{
    width: 80%;
    text-align: center;
}